In [2]:
import pandas as pd
from pandas import read_csv
from pandas import datetime
from pandas import DataFrame
import matplotlib.pyplot as plt
from matplotlib import pyplot

<ipython-input-2-f2594f55717d>:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  from pandas import datetime

In [3]:
df = pd.read_excel('C:/Users/hirak/Desktop/CPI-Dash-Board/Hotel-Revenue.xlsx', sheet_name="2018")
df1 = pd.read_excel('C:/Users/hirak/Desktop/CPI-Dash-Board/Hotel-Revenue.xlsx', sheet_name="2019")
df2 = pd.read_excel('C:/Users/hirak/Desktop/CPI-Dash-Board/Hotel-Revenue.xlsx', sheet_name="2020")
df3 = pd.read_excel('C:/Users/hirak/Desktop/CPI-Dash-Board/Hotel-Revenue.xlsx', sheet_name="meal_cost")
df4 = pd.read_excel('C:/Users/hirak/Desktop/CPI-Dash-Board/Hotel-Revenue.xlsx', sheet_name="market_segment")

In [4]:
#Multivariate data arises from more than one variable
#There are number of columns which show the detail in data 
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2018-05-06
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2018-04-22
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.0,0,0,Canceled,2018-06-23
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.0,0,2,Canceled,2018-05-11
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.3,0,2,Canceled,2018-05-29

In [5]:
#Multivariate non-graphical EDA techniques generally show the relationship between two or more variables of the data through cross-tabulation or statistics.
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
21991,City Hotel,1,24,2018,December,53,27,2,1,2,...,No Deposit,28.0,NaN,0,Transient,58.00,0,0,No-Show,2018-12-27
21992,City Hotel,1,1,2018,December,53,27,2,4,2,...,No Deposit,NaN,NaN,0,Transient,147.67,0,0,No-Show,2018-12-27
21993,City Hotel,1,66,2018,December,53,28,0,5,2,...,No Deposit,9.0,NaN,0,Transient,170.90,0,1,No-Show,2018-12-29
21994,City Hotel,1,54,2018,December,53,30,1,4,2,...,No Deposit,9.0,NaN,0,Contract,118.20,0,1,No-Show,2018-12-30
21995,City Hotel,1,54,2018,December,53,30,1,4,2,...,No Deposit,9.0,NaN,0,Contract,118.20,0,1,No-Show,2018-12-30

In [6]:
#The df.info() method allows us to learn the shape of object types 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21996 entries, 0 to 21995
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           21996 non-null  object
 1   is_canceled                     21996 non-null  int64
 2   lead_time                       21996 non-null  int64
 3   arrival_date_year               21996 non-null  int64
 4   arrival_date_month              21996 non-null  object
 5   arrival_date_week_number        21996 non-null  int64
 6   arrival_date_day_of_month       21996 non-null  int64
 7   stays_in_weekend_nights         21996 non-null  int64
 8   stays_in_week_nights            21996 non-null  int64
 9   adults                          21996 non-null  int64
 10  children                        21992 non-null  float64
 11  babies                          21996 non-null  int64
 12  meal                            21996 non-null  object
 13  country                         21863 non-null  object
 14  market_segment                  21996 non-null  object
 15  distribution_channel            21996 non-null  object
 16  is_repeated_guest               21996 non-null  int64
 17  previous_cancellations          21996 non-null  int64
 18  previous_bookings_not_canceled  21996 non-null  int64
 19  reserved_room_type              21996 non-null  object
 20  assigned_room_type              21996 non-null  object
 21  booking_changes                 21996 non-null  int64
 22  deposit_type                    21996 non-null  object
 23  agent                           18897 non-null  float64
 24  company                         1305 non-null   float64
 25  days_in_waiting_list            21996 non-null  int64
 26  customer_type                   21996 non-null  object
 27  adr                             21996 non-null  float64
 28  required_car_parking_spaces     21996 non-null  int64
 29  total_of_special_requests       21996 non-null  int64
 30  reservation_status              21996 non-null  object
 31  reservation_status_date         21996 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(16), object(11)
memory usage: 5.4+ MB

In [9]:
#The df.describe() method gives us summary statistics for numerical columns
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,21996.000000,21996.000000,21996.0,21996.000000,21996.000000,21996.000000,21996.000000,21996.000000,21992.000000,21996.000000,21996.000000,21996.000000,21996.000000,21996.000000,18897.000000,1305.000000,21996.000000,21996.000000,21996.000000,21996.000000
mean,0.370158,97.245999,2018.0,39.618976,15.630342,0.929714,2.461266,1.830424,0.061704,0.010138,0.029142,0.336425,0.031915,0.177669,78.455416,151.665900,2.279778,87.178515,0.061466,0.435443
std,0.482858,105.104227,0.0,6.810472,8.712245,1.005584,1.892400,0.851232,0.319672,0.116152,0.168207,1.823073,0.374912,0.545776,102.368913,108.821667,13.078451,42.748795,0.240944,0.743031
min,0.000000,0.000000,2018.0,27.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,8.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,14.000000,2018.0,34.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,40.000000,0.000000,62.000000,0.000000,0.000000
50%,0.000000,56.000000,2018.0,39.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,122.000000,0.000000,77.760000,0.000000,0.000000
75%,1.000000,146.000000,2018.0,44.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,175.000000,223.000000,0.000000,108.000000,0.000000,1.000000
max,1.000000,737.000000,2018.0,53.000000,31.000000,18.000000,42.000000,55.000000,10.000000,9.000000,1.000000,26.000000,14.000000,20.000000,352.000000,356.000000,122.000000,508.000000,2.000000,5.000000

In [11]:
#The df.describe without brackets() is the bound method. It's bound to the dataframe, and the representation of a bound method includes the repr() output of whatever it is bound to.
df.describe

<bound method NDFrame.describe of               hotel  is_canceled  lead_time  arrival_date_year  \
0      Resort Hotel            1         85               2018
1      Resort Hotel            1         75               2018
2      Resort Hotel            1         23               2018
3      Resort Hotel            1         60               2018
4      Resort Hotel            1         96               2018
...             ...          ...        ...                ...
21991    City Hotel            1         24               2018
21992    City Hotel            1          1               2018
21993    City Hotel            1         66               2018
21994    City Hotel            1         54               2018
21995    City Hotel            1         54               2018

      arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  \
0                   July                        27                          1
1                   July                        27                          1
2                   July                        27                          1
3                   July                        27                          1
4                   July                        27                          1
...                  ...                       ...                        ...
21991           December                        53                         27
21992           December                        53                         27
21993           December                        53                         28
21994           December                        53                         30
21995           December                        53                         30

       stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
0                            0                     3       2  ...
1                            0                     3       2  ...
2                            0                     4       2  ...
3                            2                     5       2  ...
4                            2                     8       2  ...
...                        ...                   ...     ...  ...
21991                        2                     1       2  ...
21992                        2                     4       2  ...
21993                        0                     5       2  ...
21994                        1                     4       2  ...
21995                        1                     4       2  ...

       deposit_type  agent company days_in_waiting_list customer_type     adr  \
0        No Deposit  240.0     NaN                    0     Transient   82.00
1        No Deposit   15.0     NaN                    0     Transient  105.50
2        No Deposit  240.0     NaN                    0     Transient  123.00
3        No Deposit  240.0     NaN                    0     Transient  107.00
4        No Deposit    NaN     NaN                    0     Transient  108.30
...             ...    ...     ...                  ...           ...     ...
21991    No Deposit   28.0     NaN                    0     Transient   58.00
21992    No Deposit    NaN     NaN                    0     Transient  147.67
21993    No Deposit    9.0     NaN                    0     Transient  170.90
21994    No Deposit    9.0     NaN                    0      Contract  118.20
21995    No Deposit    9.0     NaN                    0      Contract  118.20

       required_car_parking_spaces  total_of_special_requests  \
0                                0                          1
1                                0                          0
2                                0                          0
3                                0                          2
4                                0                          2
...                            ...                        ...
21991                            0                          0
21992                            0                          0
21993                            0                          1
21994                            0                          1
21995                            0                          1

       reservation_status reservation_status_date
0                Canceled              2018-05-06
1                Canceled              2018-04-22
2                Canceled              2018-06-23
3                Canceled              2018-05-11
4                Canceled              2018-05-29
...                   ...                     ...
21991             No-Show              2018-12-27
21992             No-Show              2018-12-27
21993             No-Show              2018-12-29
21994             No-Show              2018-12-30
21995             No-Show              2018-12-30

[21996 rows x 32 columns]>

In [12]:
df.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             133
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                              3099
company                           20691
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [13]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
21991    False
21992    False
21993    False
21994    False
21995     True
Length: 21996, dtype: bool

In [14]:
dup=df.duplicated()
df[dup].sum()

hotel                             Resort HotelResort HotelResort HotelResort Hot...
is_canceled                                                                    5438
lead_time                                                                   1357646
arrival_date_year                                                          17522294
arrival_date_month                JulyJulyJulyJulyJulyJulyJulyJulyJulyJulyJulyJu...
arrival_date_week_number                                                     340037
arrival_date_day_of_month                                                    133854
stays_in_weekend_nights                                                        6644
stays_in_week_nights                                                          17527
adults                                                                        15853
children                                                                       18.0
babies                                                                            1
meal                              BBBBHBBBHBBBBBBBBBHBBBHBBBBBBBBBHBBBBBHBHBBBBB...
market_segment                    Online TACorporateOffline TA/TOOnline TAOfflin...
distribution_channel              TA/TOCorporateTA/TOTA/TOTA/TOTA/TOTA/TOTA/TOTA...
is_repeated_guest                                                               274
previous_cancellations                                                         6283
previous_bookings_not_canceled                                                    8
reserved_room_type                DAEDADDAEAEAADDAAFEADFADDAAEEADAEDAEDDEEAEEAEA...
assigned_room_type                DAEDADDAEAEDADDAAFEADFADDAAEEADAEDAEDDEEAEEAEA...
booking_changes                                                                 483
deposit_type                      No DepositNo DepositNo DepositNo DepositNo Dep...
agent                                                                      286099.0
company                                                                     68916.0
days_in_waiting_list                                                          37574
customer_type                     TransientTransientTransientTransientTransientT...
adr                                                                       690642.53
required_car_parking_spaces                                                      21
total_of_special_requests                                                      1041
reservation_status                CanceledCanceledCanceledCanceledCanceledCancel...
dtype: object